body{
    font-family:Segoe UI;
    margin:0;
    background:#f4f4f9;
}

header{
    background:linear-gradient(90deg,#6a11cb,#2575fc);
    padding:20px;
    text-align:center;
    color:white;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.container{
    padding:40px;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    margin-bottom:20px;
}

input, select{
    width:100%;
    padding:10px;
    margin-bottom:10px;
}

button{
    background:#6a11cb;
    color:white;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#2575fc;
}